{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "",
    "zbastor1_STORAGE": "",
    "languageWorkers__node__workerDirectory": "/Users/erijiz/Repos/js-worker/",
    "logging__logLevel__Worker": "debug",
    "languageWorkers__node__arguments": "--inspect",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing"
  }
}